.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-container {
  position: absolute;
  width: 100vw;
  height: 100vw;
  transition: 0.5s;
}

.gradient-1,
.gradient-2,
.gradient-3,
.gradient-4 {
  position: absolute;
  width: 120%;
  height: 150%;
  left: 70%;
  top: 60%;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: gradientAnimation;
  animation-timing-function: cubic-bezier(.56,-0.35,.5,.99);
}

.gradient-1 {
  background: linear-gradient(110deg, #007fc9 50%, #15ffa900 50%);
  animation-duration: 20s;
}

.gradient-2 {
  background: linear-gradient(160deg, #e5ff54 50%, #ff3fa900 50%);
  animation-duration: 30s;
  animation-direction: alternate-reverse;
}

.gradient-3 {
  background: linear-gradient(20deg, #ff3015 50%, #b617ff00 50%);
  animation-duration: 15s;
  animation-direction: alternate-reverse;
}

.gradient-4 {
  background: linear-gradient(270deg, #ce2eff 50%, #f1e97000 50%);
  animation-duration: 10s;
}

@keyframes gradientAnimation {
  0% {
    transform: rotate(0deg) translate(0%, 0%);
    filter: blur(10vw);
    opacity: 50%;
  }
  25% {
    transform: rotate(270deg) translate(20%, -10%);
    filter: blur(20vw);
    opacity: 0.5;
  }
  50% {
    transform: rotate(-90deg) translate(0%, 0%);
    filter: blur(10vw);
    opacity: random($limit: 1);
  }
  75% {
    transform: rotate(180deg) translate(-10%, 20%);
    filter: blur(20vw);
    opacity: random($limit: 1);
  }
  100% {
    transform: rotate(360deg) translate(0%, 0%);
    filter: blur(10vw);
    opacity: 0.5;
  }
}

.blured {
  position: absolute;
  width: 60vw;
  height: 60vw;
  border: 100vw solid white;
  box-sizing: content-box;
  border-radius: 50%;
  filter: blur(10vw);
  z-index: 1;
  transition: 1s;
}

.blured-top {
  filter: blur(6vw);
  opacity: 80%;
  z-index: 1;
  transition: 3s;
}

.slider-content {
  position: absolute;
  display: flex;
}

.slider-text {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  opacity: 30%;
  width: 67%;
}

.slider-title {
  font-weight: 800;
  font-size: 8rem;
  line-height: 7rem;
  width: 100%;
}

.slider-subtitle {
  font-weight: 400;
  font-size: 4em;
  line-height: 4rem;
  width: 100%;
}
